# Codebasic python exercise to learn python

## Exercise: Python Variables

###### 1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

Break=5 is not possible as "break" is a keyword of python.

###### 2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [3]:
birth_year=1998
current_year=2023
age=current_year-birth_year
print("Age : ", age)

Age :  25

###### 3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [4]:
first_name="Maleeha"
middle_name="Kaikaus"
last_name="Lamis"
print(first_name+' '+middle_name+' '+last_name)

Maleeha Kaikaus Lamis

###### 4. Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

Valid variable names: _nation, record1, record_one 

Invalid variable names: 1record, record-one, record^one,
continue

## Exercise: Numbers in python

###### 1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [16]:
field_long=92
field_wide=48.8
total_area=field_long*field_wide
print('Total area of football field is ',total_area)

Total area of football field is  4489.599999999999

###### 2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [8]:
Return=20-(1.49*9)
print('Shopkeeper is going to give me back',Return,'dollar')

Shopkeeper is going to give me back 6.59 dollar

###### 3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [9]:
bathroom_area=5.5**2
total_cost=(bathroom_area*500)
print('The total cost will be',total_cost,'rs')

The total cost will be 15125.0 rs

###### 4. Print binary representation of number 17

Type 1

In [13]:
number=17
while(number!=0):
    print(int(number%2),end="")
    number=int(number/2)

10001

Type 2

In [21]:
number=17
print('Binary representation of number 17:',format(number,'b'))

Binary representation of number 17: 10001

## Exercise: String in Python

###### 1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [46]:
street="North Doctor Para"
city="Feni"
country="Bangladesh"
address='\n'+street+'\n'+city+'\n'+country
print("Address using + operator:",address)
address=f'\n{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator:
North Doctor Para
Feni
Bangladesh
Address using f-string:
North Doctor Para
Feni
Bangladesh

###### 2. Create a variable to store the string "Earth revolves around the sun"

###### i.Print "revolves" using slice operator

In [24]:
Line="Earth revolves around the sun"
print(Line[6:14])

revolves

###### ii.Print "sun" using negative index

In [25]:
print(Line[-3:])

sun

###### 3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [51]:
x=5
y=3
print(f'I eat {x} veggies and {y} fruits daily')

I eat 5 veggies and 3 fruits daily

###### 4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [52]:
s='maine 200 banana khaye'
print(s.replace("200","10").replace("banana","samosa"))

maine 10 samosa khaye